<router-outlet></router-outlet>
<div class="edu-vertical">
  <edu-panel stripe>
    <edu-title class="mt-3">{{structure.title}}</edu-title>
    <div class="mt-3" *ngIf="structure.description && sectionIdx === 0">
      {{structure.description}}
    </div>
    <div class="mat-warn mt-3">* Obligatorio</div>
  </edu-panel>

  <form [formGroup]="form">
    <ng-template ngFor let-section [ngForOf]="structure.sections" let-idx="index">
      <edu-section *ngIf="shouldDisplaySection(section)" key="{{idx}}">
        <ng-template [ngIf]="section.title">
          <edu-title> {{section.title}} </edu-title>
          <edu-description *ngIf="section.description"> {{section.description}} </edu-description>
        </ng-template>
        <ng-template #contentTemplate>
          <ng-template ngFor let-question [ngForOf]="section.questions">
            <edu-question-panel *ngIf="shouldDisplayQuestion(question)" [question]="question">
              <edu-question-wrapper *ngIf="isSimpleQuestion(question); else mQuestionFields"
                [question]="question" [questionData]="getQuestionData(question)"
                [control]="getQuestionControl(question)">
              </edu-question-wrapper>
              <ng-template #mQuestionFields>
                <ng-template ngFor let-field [ngForOf]="asMultiQuestion(question)?.fields">
                  <edu-question-wrapper *ngIf="shouldDisplaySubQuestion(question, field)"
                    [question]="field" [questionData]="getSubQuestionData(question, field)"
                    [control]="getFieldControl(question, field)">
                  </edu-question-wrapper>
                </ng-template>
              </ng-template>
            </edu-question-panel>
          </ng-template>
        </ng-template>
      </edu-section>
    </ng-template>


    <ng-container [ngTemplateOutlet]="sectionTemplate"></ng-container>

    <div class="edu-container flex-row px-0">
      <button mat-raised-button class="mr-3 px-4" *ngIf="hasPrevSection" (click)="prevSection()">
        Anterior
      </button>

      <button mat-raised-button class="px-4" *ngIf="hasNextSection; else sendButton" (click)="nextSection()">
        Siguiente
      </button>

      <ng-template #sendButton>
        <button mat-raised-button color="primary" class="px-4" type="submit">
          Enviar
        </button>
      </ng-template>

    </div>
  </form>

</div>