// Pido prestados estos dos de los scss de Material.
$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

// $color-primary: (
//   default: #a64d79,
//   lighter: #c182a1,
//   darker: #7b2549,
//   text: #a64d79,
//   default-contrast: $dark-primary-text,
//   lighter-contrast: $dark-primary-text,
//   darker-contrast: $light-primary-text,
// );

// $palette-primary: (
//   50: #f4eaef,
//   100: #e4cad7,
//   200: #d3a6bc,
//   300: #c182a1,
//   400: #b3688d,
//   500: #a64d79,
//   600: #9e4671,
//   700: #953d66,
//   800: #8b345c,
//   900: #7b2549,
//   A100: #ffbcd7,
//   A200: #ff89b8,
//   A400: #ff5699,
//   A700: #ff3c8a,
//   50-contrast: #000000,
//   100-contrast: #000000,
//   200-contrast: #000000,
//   300-contrast: #000000,
//   400-contrast: #000000,
//   500-contrast: #ffffff,
//   600-contrast: #ffffff,
//   700-contrast: #ffffff,
//   800-contrast: #ffffff,
//   900-contrast: #ffffff,
//   A100-contrast: #000000,
//   A200-contrast: #000000,
//   A400-contrast: #000000,
//   A700-contrast: #ffffff,
// );

$color-primary: (
  default: #0079c1,
  lighter: #59a8f4,
  darker: #004e90,
  text: #0079c1,
  default-contrast: $light-primary-text,
  lighter-contrast: $dark-primary-text,
  darker-contrast: $light-primary-text,
);

$palette-primary: (
  50: #e0eff8,
  100: #b3d7ec,
  200: #80bce0,
  300: #4da1d4,
  400: #268dca,
  500: #0079c1,
  600: #0071bb,
  700: #0066b3,
  800: #005cab,
  900: #00499e,
  A100: #c9deff,
  A200: #96bfff,
  A400: #63a0ff,
  A700: #4990ff,
  50-contrast: #000000,
  100-contrast: #000000,
  200-contrast: #000000,
  300-contrast: #000000,
  400-contrast: #ffffff,
  500-contrast: #ffffff,
  600-contrast: #ffffff,
  700-contrast: #ffffff,
  800-contrast: #ffffff,
  900-contrast: #ffffff,
  A100-contrast: #000000,
  A200-contrast: #000000,
  A400-contrast: #000000,
  A700-contrast: #000000,
);

// $color-accent: (
//   default: #3d85c6,
//   lighter: #77aad7,
//   darker: #2768b1,
//   text: #3d85c6,
//   default-contrast: $dark-primary-text,
//   lighter-contrast: $dark-primary-text,
//   darker-contrast: $dark-primary-text,
// );

// $palette-accent: (
//   50: #e8f0f8,
//   100: #c5daee,
//   200: #9ec2e3,
//   300: #77aad7,
//   400: #5a97cf,
//   500: #3d85c6,
//   600: #377dc0,
//   700: #2f72b9,
//   800: #2768b1,
//   900: #1a55a4,
//   A100: #dae9ff,
//   A200: #a7caff,
//   A400: #74abff,
//   A700: #5b9cff,
//   50-contrast: #000000,
//   100-contrast: #000000,
//   200-contrast: #000000,
//   300-contrast: #000000,
//   400-contrast: #000000,
//   500-contrast: #ffffff,
//   600-contrast: #ffffff,
//   700-contrast: #ffffff,
//   800-contrast: #ffffff,
//   900-contrast: #ffffff,
//   A100-contrast: #000000,
//   A200-contrast: #000000,
//   A400-contrast: #000000,
//   A700-contrast: #000000,
// );

$color-accent: (
  default: #00a94f,
  lighter: #55dc7d,
  darker: #007823,
  text: #00a94f,
  default-contrast: $dark-primary-text,
  lighter-contrast: $dark-primary-text,
  darker-contrast: $light-primary-text,
);

$palette-accent: (
  50: #e0f5ea,
  100: #b3e5ca,
  200: #80d4a7,
  300: #4dc384,
  400: #26b669,
  500: #00a94f,
  600: #00a248,
  700: #00983f,
  800: #008f36,
  900: #007e26,
  A100: #acffbe,
  A200: #79ff95,
  A400: #46ff6d,
  A700: #2cff59,
  50-contrast: #000000,
  100-contrast: #000000,
  200-contrast: #000000,
  300-contrast: #000000,
  400-contrast: #000000,
  500-contrast: #ffffff,
  600-contrast: #ffffff,
  700-contrast: #ffffff,
  800-contrast: #ffffff,
  900-contrast: #ffffff,
  A100-contrast: #000000,
  A200-contrast: #000000,
  A400-contrast: #000000,
  A700-contrast: #000000,
);

// $color-warn: (
//   default: #d42626,
//   lighter: #db4d4d,
//   darker: #b90000,
//   text: #d42626,
//   default-contrast: $light-primary-text,
//   lighter-contrast: $dark-primary-text,
//   darker-contrast: $light-primary-text,
// );

// $palette-warn: (
//   50: #f9e0e0,
//   100: #f0b3b3,
//   200: #e68080,
//   300: #db4d4d,
//   400: #d42626,
//   500: #cc0000,
//   600: #c70000,
//   700: #c00000,
//   800: #b90000,
//   900: #ad0000,
//   A100: #ffd7d7,
//   A200: #ffa4a4,
//   A400: #ff7171,
//   A700: #ff5858,
//   50-contrast: #000000,
//   100-contrast: #000000,
//   200-contrast: #000000,
//   300-contrast: #ffffff,
//   400-contrast: #ffffff,
//   500-contrast: #ffffff,
//   600-contrast: #ffffff,
//   700-contrast: #ffffff,
//   800-contrast: #ffffff,
//   900-contrast: #ffffff,
//   A100-contrast: #000000,
//   A200-contrast: #000000,
//   A400-contrast: #000000,
//   A700-contrast: #000000,
// );

$color-warn: (
  default: #ef3e42,
  lighter: #ff746d,
  darker: #b5001a,
  text: #ef3e42,
  default-contrast: $dark-primary-text,
  lighter-contrast: $dark-primary-text,
  darker-contrast: $light-primary-text,
);

$palette-warn: (
  50: #fde8e8,
  100: #fac5c6,
  200: #f79fa1,
  300: #f4787b,
  400: #f15b5e,
  500: #ef3e42,
  600: #ed383c,
  700: #eb3033,
  800: #e8282b,
  900: #e41b1d,
  A100: #ffffff,
  A200: #ffe5e5,
  A400: #ffb2b2,
  A700: #ff9899,
  50-contrast: #000000,
  100-contrast: #000000,
  200-contrast: #000000,
  300-contrast: #000000,
  400-contrast: #000000,
  500-contrast: #ffffff,
  600-contrast: #ffffff,
  700-contrast: #ffffff,
  800-contrast: #ffffff,
  900-contrast: #ffffff,
  A100-contrast: #000000,
  A200-contrast: #000000,
  A400-contrast: #000000,
  A700-contrast: #000000,
);
